@use 'variables' as *;

@use 'bootstrap/scss/bootstrap' as *;

@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "/node_modules/select2/dist/css/select2.css";

@import 'swiper/swiper.scss';

@import 'intl-tel-input/build/css/intlTelInput.css';
