.toggle-checkboxFree:checked + .toggle-switch {
    background: #0ae30a !important;
}

.toggle-checkboxPay:checked + .toggle-switch {
    background: #f02602 !important;
}

.toggle-checkboxFree:checked {
    background-color: #009fe3 !important;
    border-color: #009fe3 !important
}

.toggle-checkboxPay:checked {
    background-color: #bc34b6 !important;
    border-color: #bc34b6 !important
}

/* Notification Badge Styles */
.number-notif {
    position: absolute;
    top: -8px;
    left: -8px;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.2px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.number-notif .cart-item-badge {
    display: inline-block;
    line-height: 1;
}


/* News Item Card Styles */
.news-item {
    background: linear-gradient(135deg, #e0f7ff 0%, #b3e5fc 75%);
    border-left: 4px solid #0dcaf0;
    transition: all 0.3s ease;
}

.news-item:hover {
    box-shadow: 0 8px 16px rgba(13, 202, 240, 0.3);
    transform: translateY(-2px);
}


/* Event Item Card Styles */
.event-item {
    background: linear-gradient(135deg, #f3e5f5 0%, #e1bee7 75%);
    border-left: 4px solid #9c27b0;
    transition: all 0.3s ease;
}

.event-item:hover {
    box-shadow: 0 8px 16px rgba(156, 39, 176, 0.3);
    transform: translateY(-2px);
}


/* --- Item Card Styles */
.survey-item {
    background: linear-gradient(135deg, #fff3e0 0%, #ffe0b2 75%);
    border-left: 4px solid #ff9800;
    transition: all 0.3s ease;
}

.survey-item:hover {
    box-shadow: 0 8px 16px rgba(255, 152, 0, 0.3);
    transform: translateY(-2px);
}

.survey-item .card-header, .news-item .card-header, .event-item .card-header {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 152, 0, 0.2);
}

.survey-item .card-body, .news-item .card-body, .event-item .card-body {
    background-color: transparent !important;
}

.survey-item .card-footer, .news-item .card-footer, .event-item .card-footer {
    background-color: transparent !important;
    border-top: 1px solid rgba(255, 152, 0, 0.2);
}


.logoLogin {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center
}

.logoLogin li {
    display: inline-block;
    min-width: 5em;
    margin: 0 .5em
}

@media screen and (max-width: 600px) {
    .nav {
        --vz-nav-link-padding-x: 0rem !important;
        --vz-nav-link-padding-y: 0rem !important
    }
}

.btn-ghost-secondary, .logoTopCashLabel a, .logoTopCashLabel h5, .tab2earn > li > a, [data-layout-mode=dark] .logoTopCash span > i {
    color: #464fed !important;
}

.btn2earn {
    background-image: linear-gradient(270deg, #009fe3, #673bb7, #bc34b6) !important;
    border-color: #f6f8fe
}

.tab2earn > li > a {
    color: #464fed !important
}

.logoTopCash span {
    background-color: #464fed !important
}

.logoTopCash span > i {
    color: #fff !important
}

.logoTopCashLabel a, .logoTopCashLabel h5 {
    color: #464fed !important
}

.logoTopBFS span {
    background-color: #bc34b6 !important
}

.logoTopBFS span > i {
    color: #fff !important
}

.logoTopBFSLabel a, .logoTopBFSLabel h5 {
    color: #bc34b6 !important
}

.logoTopDB span {
    background-color: #009fe3 !important
}

.logoTopDB span > i {
    color: #fff !important
}

.logoTopDBLabel a, .logoTopDBLabel h5 {
    color: #009fe3 !important
}

[data-layout-mode=dark] .tab2earn > li > a {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopCash span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopCash span > i {
    color: #464fed !important
}

[data-layout-mode=dark] .logoTopCashLabel a, [data-layout-mode=dark] .logoTopCashLabel h5 {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopBFS span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopBFS span > i {
    color: #bc34b6 !important
}

[data-layout-mode=dark] .logoTopBFSLabel a, [data-layout-mode=dark] .logoTopBFSLabel h5 {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopDB span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopDB span > i {
    color: #009fe3 !important
}

.page-title-box > h4, [data-layout-mode=dark] .logoTopDBLabel a, [data-layout-mode=dark] .logoTopDBLabel h5 {
    color: #fff !important
}

.footerOpt {
    align-self: flex-start
}

.footerOpt a {
    cursor: pointer;
    font-weight: 700
}

.swal2-footer {
    display: block !important;
    flex-direction: row !important
}

.navbar-brand-box {
    box-shadow: 1px 1px 2px rgba(15, 34, 58, 0.2);
}

.ribbon-info {
    background-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

.ribbon-info:before {
    border-right-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-top-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-bottom-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

.ribbon-info:after {
    border-right-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-top-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-bottom-color: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

#simulator .discount-time {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 8px;
    border-radius: 0.25rem;
}

.btn-flash {
    background-image: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

.btn-outline-flash {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #ffd700;
}

.btn-outline-flash:hover, .btn-outline-flash:focus {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    border: 1px solid #ffd700;
}

.pink {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pinkbold {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: medium;
    font-weight: 900;
}

.goldbold {
    color: gold;
    font-weight: bolder;
}

.form-control-flash {
    display: block;
    width: 100%;
    padding: .5rem .9rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid #ffd700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.flash {
    border: 1px solid #ffd700 !important;
}

.modal-title {
    display: flex;
    align-items: center;
}

.flash-background {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    padding: 0 5px;
    margin-left: 10px;
    font-weight: 800;
}

.vip-background {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    font-weight: 600;
}

.btn-outline-gold {
    color: black;
}

.flash-red {
    color: #c32a2a;
}

.btn-outline-gold:hover {
    color: black;
}

.bg-soft-info.custom {
    width: 40px;
}

.buy-action-submit-spinner {
    display: none;
}


#notification-dropdown {
    max-height: 450px;
    overflow: auto;
}

#notification-dropdown .simplebar-content {
    max-height: 300px;
}

#notification-dropdown .simplebar-mask {
    max-height: 300px;
}

#notification-dropdown .simplebar-offset, #notification-dropdown .simplebar-wrapper, #notification-dropdown #notificationItemsTabContent, #notification-dropdown #all-noti-tab {
    max-height: 300px;
    overflow-x: auto;
}

#notification-dropdown .simplebar-content-wrapper {
    max-height: 300px;
}


.wrap-custom-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.simplebar-content .nav-item active, .simplebar-content .nav-item:hover {
    background-color: #e6e4e4
}

.btn-ghost-danger:active, .btn-ghost-danger:focus, .btn-ghost-danger:hover {
    color: #bc34b6 !important;
    background-color: rgba(188, 52, 182, .1) !important
}

.btn-ghost-secondary:active, .btn-ghost-secondary:focus, .btn-ghost-secondary:hover {
    color: #464fed !important;
    background-color: rgba(70, 79, 237, .1) !important
}

.navbar-menu .navbar-nav .nav-link.active {
    color: var(--vz-vertical-menu-item-hover-color);
}

.navbar-menu .navbar-nav .nav-link svg {
    color: #999999;
}

.navbar-menu .navbar-nav .nav-link.disabled {
    color: #999999;
}

#login-form .iti, #forget-password-form .iti {
    width: 100% !important;
}

@font-face {
    font-family: ar400;
    src: url("../fonts/NotoKufiArabic-Regular.ttf");
    font-weight: 400;
}

label, h1, h2, h3, h4, h5, h6, a, button, p, i, span, strong, .btn, div {
    font-family: ar400;
    font-weight: 500 !important;
}

.navbar-menu .navbar-nav .nav-link {
    font-family: ar400 !important;

}


.navbar-menu .navbar-nav .nav-link.active {
    color: var(--vz-vertical-menu-item-hover-color);
}

.navbar-menu .navbar-nav .nav-link svg {
    color: #999999;
}

.navbar-menu .navbar-nav .nav-link.disabled {
    color: #999999;
}

.table, .table > :not(caption) > * > *, .table-bordered, .table-bordered > :not(caption) > * > * {
    border-width: 0px;
    border-color: transparent;
}

.forceltr {
    direction: ltr;
    float: right;
}

.logoTopCashDanger {
    color: red !important
}

.logoTopCashDanger span {
    background-color: red !important
}


div.dt-processing {
    background-color: #f3f6f9;
    z-index: 1000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 18px;
    font-weight: bold;
    color: #58caea;
    border-color: #58caea;
    margin-bottom: 20px;
    --vz-text-opacity: 1;
    color: rgba(var(--vz-info-rgb), var(--vz-text-opacity)) !important;
}

.navbar-nav .nav-item .active, .navbar-nav .nav-item:hover {
    background-color: #e6e4e4
}

.navbar-nav .nav-item .disabled {
    opacity: .5;
}



.img-business {
    width: 204px;
    height: 62px;
}

.img-business-square {
    width: 180px;
    height: 180px;
}

.text-cash {
    color: #464fed !important;
}

.text-bfs {
    color: #bc34b6 !important;
}

.text-discount {
    color: #009fe3 !important;
}

input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 400px;
    max-width: 100%;
    margin: 24px 0 0;
    transition: box-shadow .2s ease-in-out
}

#selledActionCursor::-webkit-slider-thumb {
    background: #f1963b;
    box-shadow: inset 0 0 0 40px #f1963b;
    border-radius: 20px;

}
input[type=range]::-moz-range-progress {
    background-color: #43e5f7
}

input[type=range]::-moz-range-track {
    background-color: #9a905d
}

input[type=range]::-ms-fill-lower {
    background-color: #43e5f7
}

input[type=range]::-ms-fill-upper {
    background-color: #9a905d
}
