.toggle-checkboxFree:checked {
    background-color: #009fe3 !important;
    border-color: #009fe3 !important
}

.toggle-checkboxPay:checked {
    background-color: #bc34b6 !important;
    border-color: #bc34b6 !important
}

.logoLogin {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center
}

.logoLogin li {
    display: inline-block;
    min-width: 5em;
    margin: 0 .5em
}

@media screen and (max-width: 600px) {
    .nav {
        --vz-nav-link-padding-x: 0rem !important;
        --vz-nav-link-padding-y: 0rem !important
    }
}

.btn2earn {
    background-image: linear-gradient(270deg, #009fe3, #673bb7, #bc34b6) !important;
    border-color: #f6f8fe
}

.tab2earn > li > a {
    color: #464fed !important
}

.logoTopCash span, .page-title-box {
    background-color: #464fed !important
}

.logoTopCash span > i {
    color: #fff !important
}

.logoTopCashLabel a, .logoTopCashLabel h5 {
    color: #464fed !important
}

.logoTopBFS span {
    background-color: #bc34b6 !important
}

.logoTopBFS span > i {
    color: #fff !important
}

.logoTopBFSLabel a, .logoTopBFSLabel h5 {
    color: #bc34b6 !important
}

.logoTopDB span {
    background-color: #009fe3 !important
}

.logoTopDB span > i {
    color: #fff !important
}

.logoTopDBLabel a, .logoTopDBLabel h5 {
    color: #009fe3 !important
}

[data-layout-mode=dark] .page-title-box {
    background-color: #3c4257 !important
}

[data-layout-mode=dark] .tab2earn > li > a {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopCash span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopCash span > i {
    color: #464fed !important
}

[data-layout-mode=dark] .logoTopCashLabel a, [data-layout-mode=dark] .logoTopCashLabel h5 {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopBFS span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopBFS span > i {
    color: #bc34b6 !important
}

[data-layout-mode=dark] .logoTopBFSLabel a, [data-layout-mode=dark] .logoTopBFSLabel h5 {
    color: #fff !important
}

[data-layout-mode=dark] .logoTopDB span {
    background-color: #fff !important
}

[data-layout-mode=dark] .logoTopDB span > i {
    color: #009fe3 !important
}

.page-title-box > h4, [data-layout-mode=dark] .logoTopDBLabel a, [data-layout-mode=dark] .logoTopDBLabel h5 {
    color: #fff !important
}

input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 400px;
    max-width: 100%;
    margin: 24px 0 0;
    transition: box-shadow .2s ease-in-out
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=range] {
        overflow: hidden;
        height: 10px;
        -webkit-appearance: none;
        background-color: #ddd
    }

    input[type=range]::-webkit-slider-runnable-track {
        color: #444
    }

    input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb {
        height: 10px;
        -webkit-appearance: none;
        -webkit-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out
    }

    input[type=range]::-webkit-slider-thumb {
        width: 10px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: 340px 0 0 335px #009fe3, inset 0 0 0 40px #009fe3;
        border-radius: 50%;
        position: relative
    }

    input[type=range]:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: 340px 0 0 335px #009fe3, inset 0 0 0 3px #009fe3
    }
}

input[type=range]::-moz-range-progress {
    background-color: #43e5f7
}

input[type=range]::-moz-range-track {
    background-color: #9a905d
}

input[type=range]::-ms-fill-lower {
    background-color: #43e5f7
}

input[type=range]::-ms-fill-upper {
    background-color: #9a905d
}

.footerOpt {
    align-self: flex-start
}

.footerOpt a {
    cursor: pointer;
    font-weight: 700
}

.swal2-footer {
    display: block !important;
    flex-direction: row !important
}
.navbar-brand-box {
    border-bottom: 1px solid #cdcdcd
}
.ribbon-info {
    background-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

.ribbon-info:before {
    border-right-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-top-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-bottom-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
}

.ribbon-info:after {
    border-right-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-top-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    border-bottom-color: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967)!important;
}

#simulator .discount-time {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 8px;
    border-radius: 0.25rem;
}
.btn-flash {

    background-image: 	linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;

}
.btn-outline-flash {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-outline-flash:hover {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;

}
.pink{
    color: black;

    display: flex;
    flex-wrap: wrap;
    align-items: center;


}
.pinkbold{
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967, #AE8625, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: medium;

    font-weight: 900;
}
.goldbold{
    color: gold;
    font-weight: bolder;

}

.form-control-flash {
    display: block;
    width: 100%;
    padding: .5rem .9rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid #ffd700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.flash {

    border: 1px solid #ffd700 !important;

}

.modal-title {
    display: flex;
    align-items: center;
}
.flash-background {
    background: linear-gradient(45deg, #AE8625, #f7ef8a, #d2ac47, #edc967) !important;
    padding: 0 5px;
    margin-left: 10px;
    font-weight: 800;

}




.btn-outline-gold {
    color: black;
}
.btn-outline-gold:hover {
    color: black;
}
